@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --white: #ddd;
    --dark: #111;
    --lightGrey: #474b4f;
    --lightgreen: #86c232;
    --darkgreen: #61892f;
    --transition: all 0.5s ease;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{ 
    line-height: 1.6;

}
img {
    width: 100%;
    display: block;
}
ul li {
    list-style: none;
}
a{
    text-decoration: none;
    color: #000
}
h1, h2, h3, h4, h5, h6, p{
    margin: 15px 0;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: 90vw;
    margin: 0 auto;
}

.btn{
    background: var(--darkgreen);
    border: none;
    display: block;
    width: 150px;
    text-align: center;
    color: var(--darkgreen);
    text-transform: uppercase;
    background: transparent;
    font-size: 15px;
    padding: 2px solid;
    border: 2px solid var(--darkgreen);
    border-radius: 25px;
    margin: 15px 0;
    transition: var(--transition);
}
.active{
    color: var(--lightGreen)!important;
}
.header{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("images/header.jpg") center/cover no-repeat;
    color: #fff;
}
.top-nav a{
    color: #fff;
}
.brand-and-navBtn{
    background: #000;
    position: relative;
    z-index: 999;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    font-size: 24px;
    padding: 15px 25px;
    color: var(--white);
}